/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
background-color: white;
margin: color #fbb800;
}
.minor-section {
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px white;
    background-color: #E9AB17;
}
  h1 {
    color:black;
    font-size: 200%;
}
p {
  font-family: fantasy;
  text-indent: 0px;
  margin-left:10px;
}
#content {
  background-color: white;
  width: 500px;
  min-height: 300px;
  padding: 100px color black;
  margin: 10px color #fbb800;
  border: solid 1px color #000000;
  font-size: 20px;
}